<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <!-- alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <title>TODOS</title>
    <script>
         htmx.config.useTemplateFragments = true;
    </script>

    <style>
        section {
            margin-block: 2rem;
            max-width: 80%;
            margin-inline: auto;
        }
        section h1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            background-color: yellow;
        }
        tbody tr:nth-child(odd) {
            background: rgb(233, 233, 233);
        }
    </style>

</head>
<body>
    <section id="add todos">
        <h1>Add new todo: </h1>
        <%- include("./components/add_todo.ejs", {categories}) %>
    </section> 

    <%- include("./components/todos_counter.ejs", {total_todos_count}) %>


    <section id="search todos"></section> 
    <section id="filter todos"></section> 
    <section id="todos">
        <h1>Todos Table</h1>
        <table>
            <thead>
                <tr>
                    <th>STATUS</th>
                    <th>UPDATE STATUS</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>CATEGORY</th>
                </tr>
            </thead>
            <%- include("./components/todos.ejs", {todos}) %>
        </table>
    </section> 

    <section>
        <%- include("./components/test_button.ejs", {t: "raw"}) %>
    </section>

</body>
</html>