<%- include("./todo.ejs", {todo}) %>

<section id="todos_counter" hx-swap-oob="true">100</section>

<%- include("./add_todo.ejs", {categories}) %>

<%- include("./test_button.ejs", {t: "changed this---------"}) %>










<!-- update button at the same request  -->