<section id="todos_counter" hx-swap-oob="true" 
>
    <h1>Todos counter</h1>
    <div>
        TOTAL TODOS COUNT:
        <span style="font-weight: 600;">
        <%= total_todos_count %>
        </span>
    </div>


    <div>
        TOTAL DONE TODOS COUNT:
        <span style="font-weight: 600;">
        <%= total_todos_done_count %>
        </span>
    </div>
</section>